.botoes {
    padding: 24px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 12px; */
}

.botao-categoria {
    display: block;
    text-decoration: none;
    text-align: center;
    width: 312px;
    padding: 12px 0 12px 0px;
}

.artigo {
    background-color: var(--cor-fundo-secundaria);
    height: 220px;
    border-radius: 8px;
}

.artigo>img {
    padding: 41px 0 0px 0;
}

.artigo>h3 {
    color: var(--cor-texto-primaria);
    font-size: 28px;
    font-weight: var(--peso-titulo);
    padding: 24px 0 0 0;
    margin: 0;
}

.linha-unica>img {
    padding: 50px 0 0 0;
}

.linha-unica>h3 {
    padding: 30px 0 0 0;
}

@media screen and (min-width: 768px) {
    .botoes {
        flex-direction: column;
        gap: 24px;
        justify-content: center;
    }

    .botoes>div {
        display: flex;
        gap: 24px;
    }

    .botao-categoria {
        padding: 0;
    }

    .linha-unica>img {
        padding: 50px 0 40px 0;
    }

    .transfer>h3 {
        padding: 25px 0 0 0;
    }

    .seguro>h3 {
        padding: 0;
    }

}

@media screen and (min-width: 1024px) {
    .botao-categoria {
        display: flex;
        width: 420px;
    }

    .artigo {
        width: 420px;
    }
}

@media screen and (min-width: 1440px) {
    .botoes {
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 24px;
        justify-content: center;
    }

    .botoes>div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 24px;
    }

    .botao-categoria {
        width: 280px;
        height: 220px;
    }

    .artigo {
        padding: 0 16px;
    }
}