/* Rodapé página pacotes de viagens */
.banner-roda-pacotes {
    background-image: url(../img/banner-rodape-pacotes-mobile.png);
}

/* Rodapé página principal */
.banner-rodape {
    background-image: url(../img/pre-rodape-mobile.png);
}

.banner-roda-pacotes,
.banner-rodape {
    width: 100%;
    height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.main-rodape {
    background-color: var(--cor-fundo-terciaria);
    text-align: center;
    padding: 32px 24px;
}

.logo-rodape {
    padding: 0 0 16px 0;
}

.texto-rodape {
    color: var(--cor-texto-secundaria);
}

.horario {
    padding: 0 0 8px 0;
}

.alura {
    padding: 0 0 32px 0;
}

.redes {
    padding: 0 0 16px 0;
}

.link-redes {
    text-decoration: none;
}

@media screen and (min-width: 768px) {

    /* Rodapé página pacotes de viagens */
    .banner-roda-pacotes {
        background-image: url(../img/banner-rodape-pacotes-tablet.png);
    }

    /* Rodapé página principal */
    .banner-rodape {
        background-image: url(../img/pre-rodape-tablet.png);
    }

    .texto-rodape {
        font-size: 20px;
    }
}

@media screen and (min-width: 1440px) {

    /* Rodapé página pacotes de viagens */
    .banner-roda-pacotes {
        background-image: url(../img/banner-rodape-pacotes-tablet.png);
    }

    /* Rodapé página principal */
    .banner-rodape {
        background-image: url(../img/pre-rodape-desktop.png);
        height: 600px;
    }

    .main-rodape {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 52px 120px;
    }

    .div-horario {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }


    .redes {
        font-size: 16px;
    }
}