.banner-rodape {
    background-image: url(../img/pre-rodape-mobile.png);
    width: 100%;
    height: 400px;
    background-position: center;
    background-size: cover;
}

.rodape {
    background-color: var(--cor-fundo-terciaria);
    text-align: center;
    padding: 32px 24px;
}

.logo-rodape {
    padding: 0 0 16px 0;
}

.texto-rodape {
    color: var(--cor-texto-secundaria);
}

.horario {
    padding: 0 0 8px 0;
}

.alura {
    padding: 0 0 32px 0;
}

.redes {
    padding: 0 0 16px 0;
}

.link-redes {
    text-decoration: none;
}