@font-face {
  font-family: "Montserrat";
  src: url(/curso_responsividade/jornada-viagens/fontes/Montserrat-VariableFont_wght.ttf);
  font-style: normal;
  font-display: swap;
}

:root {
  --cor-fundo-primaria: #ffffff;
  --cor-fundo-secundaria: #f5f5f5;
  --cor-fundo-terciaria: #000000;

  --cor-primaria: #8f0101;
  --cor-secundaria: #b81515;

  --cor-texto-primaria: #222222;
  --cor-texto-secundaria: #ffffff;

  --peso-titulo: 700;
  --peso-menu: 500;
  --peso-paragrafos: 400;
}

body,
img,
h1,
p,
fieldset,
legend,
label,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  display: border-box;
}

body {
  font-family: "Montserrat";
  color: var(--cor-texto-primaria);
}

.titulo-secao>h2 {
  font-size: 28px;
  font-weight: var(--peso-titulo);
  text-align: center;
  margin: 88px 0 32px 0;
}

.divisoria {
  height: 4px;
  width: 180px;
  margin: auto;
  background-color: var(--cor-secundaria);
  border: none;
}

.botao {
  text-decoration: none;
  color: var(--cor-texto-secundaria);
  font-weight: var(--peso-titulo);
  font-size: 20px;
  line-height: 64px;

  background-color: var(--cor-secundaria);
  width: 280px;
  height: 64px;
  border-radius: 8px;
  display: inline-block;
}

.botao:hover {
  background-color: var(--cor-primaria);
}

footer.rodape {
  background-color: #000000;
  font-family: "Montserrat";
}

@media screen and (min-width: 768px) {
  .titulo-secao>h2 {
    font-size: 32px;
    font-weight: var(--peso-titulo);
    text-align: center;
    padding: 0 200px 16px 200px;
    margin: 0;
  }

  .divisoria {
    height: 4px;
    width: 180px;
    margin: auto;
    background-color: var(--cor-secundaria);
    border: none;
  }

}

@media screen and (min-width: 1024px) {
  .titulo-secao>h2 {
    font-size: 32px;
    font-weight: var(--peso-titulo);
    text-align: center;
    padding: 0 350px 16px 350px;
    margin: 0;
  }

  .divisoria {
    height: 4px;
    width: 180px;
    margin: auto;
    background-color: var(--cor-secundaria);
    border: none;
  }
}

@media screen and (min-width: 1440px) {
  .titulo-secao>h2 {
    font-size: 32px;
    font-weight: var(--peso-titulo);
    text-align: center;
    padding: 0 560px 16px 560px;
    margin: 0;
  }

  .divisoria {
    height: 4px;
    width: 180px;
    margin: auto;
    background-color: var(--cor-secundaria);
    border: none;
  }
}