header {
  background-color: var(--cor-fundo-terciaria);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 38px 48px;
  position: relative;
}

.logo {
  display: inline-block;
  width: 68px;
  height: 64px;
}

/* Input do tipo checkbox, quando estiver checado, afeta o irmão(~) nav e desse jeito: */
input[type="checkbox"]:checked ~ nav {
  display: block;
  position: absolute;
  top: 100%;
  left: 0px;
  width: 100%;
  background-color: var(--cor-fundo-terciaria);
}

nav {
  display: none;
}

.lista-links {
  list-style: none;
}

.item-lista {
  margin: 16px 0;
}

.links-menu {
  text-decoration: none;
  color: var(--cor-texto-secundaria);
  font-size: 24px;
  font-weight: var(--peso-menu);
}

@media screen and (min-width: 768px) {
  .nav-menu {
    width: 467px;
  }

  .nav-menu > label {
    display: none;
  }

  .nav-menu > nav {
    display: block;
  }

  .lista-links {
    list-style: none;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .item-lista {
    margin: 0;
  }
}
